body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quiz-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.btn-container button {
    margin: 10px 0;
}

#timer {
    margin-top: 20px;
    font-size: 1.2em;
    color: #555;
}

.hide {
    display: none;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    width: calc(100% - 22px);
    box-sizing: border-box;
}

#save-score-btn {
    margin-top: 10px;
    background-color: #28a745;
}

#save-score-btn:hover {
    background-color: #218838;
}